body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.fp-tableCell {
    display: block;
}
.bg-full {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-blue-img {
    background-image: url('background2.jpg');
}
.header-logo {
    text-align: center;
    margin: 20px;
}
.text-table {
    font-size: 26px;
    font-weight: 400;
}
.card-text {
    margin-bottom: 0;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}
.card-text-span {
    margin-bottom: 0;
}